body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "fira", monospace;
}
a {
    color: white;
    text-decoration: underline;
}
.landinglink {
    font-size: 1.5em;
    text-decoration: none;
}
b {
    color: #6a9e41;
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
fieldset {
    width: 480px;
    height: 600px;
    margin: auto;
    border: 3px solid;
    border-radius: 12px;
    position: relative;
}
legend {
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 3px black solid;
    overflow: hidden;
    font-size: xx-large;
    font-weight: bold;
}
.backlegend {
    position: absolute;
    right: 15px;
    top: -2.11em;
    color: black;
    background-color: white;
    border: 3px black solid;
    border-radius: 7px;
    overflow: hidden;
    padding-inline: 7px;
  }
.content {
    padding: 12px;
}
.indented {
    padding-left: 1ch;
}
h1 {
    font-size: 2.6em;
    margin-bottom: 0px !important;
}
p {
    margin: 0px !important;
}
.back {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
}
.gray {
    color: gray;
}
.spaced {
    padding-bottom: 50px;
}
.bottom {
    position: absolute;
    bottom: 0;
    margin: 0 0 25px 0 !important;
    width: 100%;
}
.subhead {
    padding-top: 0px;
    margin: 0;
    line-height: 0px;
}
.systemdetail {
    padding-top: 20px;
    padding-left: 1ch;
    color: white;
}
.padding-top {
    padding-top: 15px;
}
.padding-bottom {
    padding-bottom: 15px;
}
.center-h {
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.extra {
    padding-top: 150px;
}
.blog fieldset {
    width: 480px;
    height: 600px;
    background-color: black;
    border: 3px solid;
    border-radius: 12px;
    animation: growbox 1s ease-in-out forwards;
    overflow: visible;
}
@keyframes growbox {
    0% {
        height: 600px;
        width: 480px;
    }
    50% {
        height: 85%;
        width: 480px;
    }
    100% {
        height: 85%;
        width: 720px;
    }
}
.delay-text {
    opacity: 0;
    animation: fadeIn 0.5 ease forwards;
    animation-delay: 1s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        visibility: visible;
    }
}
.delay-text.out {
    animation: fadeOut 0.5s ease forwards;
}
@keyframes out {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
.navbox {
    position: absolute;
    top: 0px;
    left: -175px;
    width: 175px;
    height: 60px;
    border: 3px solid;
    border-radius: 12px;
    opacity: 0;
    animation: slideBox 0.5s ease-out forwards;
    animation-delay: 1s;
    z-index: 0;
}
.navbox.exit {
    animation: slideOut 0.5s ease forwards;
}
.navbox-mask {
    position: absolute;
    top: -3px;
    left: 172px;
    width: 5%;
    height: 105%;
    background-color: black;
    z-index: 1;
}   
@keyframes slideBox {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
.contents {
    position: relative;
    z-index: 2;
}
.scrollable {
    flex: 1;
    overflow-y: scroll;
    max-height: 100%;
    position: relative;
    scrollbar-width: thin;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subtext {
    text-align: center;
}
.page {
    display: none;
}
.active {
    display: block;
}
.underline {
    text-decoration: underline;
}
.blog fieldset.shrink {
    animation: shrink 1s ease-in-out forwards;
}
@keyframes shrink {
    0% {
        height: 85%;
        width: 720px;
    }
    50% {
        height: 85%;
        width: 480px;
    }
    100% {
        height: 600px;
        width: 480px;
    }
}
.center-links {
    position: fixed;
    text-align: center;
    margin-left: 50%;
    margin-top: 50%
}